body {
	background: url(../images/background.jpg) top center no-repeat fixed;
	font-family: Arial, Sans-Serif;
}

* {
	box-sizing: border-box;
}

button {
	
	font-family: inherit;
	cursor: pointer;
	outline: none;
	appearance: none;
	border: 0;
}

strong {
	
	font-weight: 700;
}

#container {
	
	width: 460px;
	margin: 0 auto;
	height: 100%;

	header {
		
		height: 50px;
		margin: 20px 0 25px 0;
		width: 100%;

		button {
			
			background: #b2ebf7;
			color: #00aee1;
			text-decoration: none;
			float: left;
			width: 140px;
			text-align: center;
			margin-right: 20px;
			font-size: em(14px);
			height: 50px;
			vertical-align: middle;
			display: table-cell;
			box-shadow: 0 1px 2px rgba(0,0,0,0.15);

			&.active {

				background: #00aee1;
				color: white;
			}

			&:last-of-type {
				
				margin-right: 0;
			}
		}

	}

	ul.holiday-items {

		li {

			margin-bottom: 20px;
			
			.item-info {
				
				height: 320px;
				position: relative;
			}

			img.hotel-image {
				
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				height: 320px;
			}

			.item-header {
				
				top: 0;
				left: 0;
				width: 100%;
				height: auto;
				position: absolute;
				z-index: 2;

				.item-meta {

					background: rgba(255,255,255,0.8);
					padding: 10px;
					vertical-align: middle;

					h2, h3 {
						
						color: #19388a;
						line-height: 1.35;
					}

					h2 {
						
						font-weight: 700;
						font-size: em(16px);
						padding-right: 40px;
					}

					h3 {
						
						font-size: em(12px);
					}
				}

				.item-price {

					background: #f3d430;
					padding: 10px;
					position: relative;
					left: 2px;
					vertical-align: middle;

					h4 {
						
						color: #19388a;
						font-weight: 700;
						font-size: 13px;
						text-align: right;
						line-height: 1.2;

						span {
							
							display: block;
							font-size: 18px;
						}
					}

				}

			}

			.item-package {
				
				bottom: 0;
				left: 0;
				background: #00aee1;
				width: 100%;
				padding: 10px;
				position: absolute;
				z-index: 2;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					width: 25px;
					height: 100%;
					top: 0;
					right: 10px;
					z-index: -1;
					background: url(../images/arrow.jpg) 98% center no-repeat;
					transform: rotate(0deg);
				}

				&.active {
					&:before {
						top: -5px;
						transform: rotate(90deg);
					}
				}
				
				p {
					
					color: #b2ebf7;
					font-size: 14px;
					line-height: 1.3;
					padding-right: 85px;

					span, strong {
						
						color: white;
					}

				}
			}

			.item-description {
				
				background: white;
				padding: 10px 10px 20px 10px;
				color: #00aee1;
				width: 100%;
				text-align: center;

				p {
					
					font-size: 14px;
					line-height: 1.3;
					text-align: left;
				}

				button {
					
					background: #19388a;
					color: white;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 18px;
					padding: 12px;
					border-radius: 5px;
					margin-top: 8px;
				}
			}


		}
	}
	

}