<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="app"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>On The Beach</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="assets/styles/main.css" />
	
</head>
<body>
	
	<div id="container" ng-controller="MainController">
		
		<header>
			<button ng-click="displayOrder('hotel.name')">sort <strong>alphabetically</strong></button>
			<button ng-click="displayOrder('package.price')">sort by <strong>price</strong></button>
			<button ng-click="displayOrder('hotel.stars')">sort by <strong>star rating</strong></button>
		</header>
		

		<ul class="holiday-items">
			<li ng-repeat="holiday in holidays">
	
				<!-- item info -->
				<div class="item-info">
					<img class="hotel-image" ng-src="{{holiday.hotel.image}}" width="460" alt="{{holiday.hotel.name}}" />
					
					<table class="item-header">
						<tr>
							<td width="350" class="item-meta">
								<h2>{{holiday.hotel.name}} <img ng-repeat="stars in [] | starRating: holiday.hotel.stars" src="assets/images/star.jpg" /></h2>
								<h3>{{holiday.hotel.location}}</h3>
							</td>
							<td width="108" class="item-price">
								<h4>holiday price <span>{{holiday.package.price | currency: '£'}}</span></h4>
							</td>
						</tr>
					</table>
					<!-- /.item-header -->
					
					<!-- holiday package details w/ plural logic -->
					<div class="item-package" ng-click="showDescription = ! showDescription" ng-class="{'active' : showDescription}">
						
						<p><strong>{{holiday.package.date}}</strong> for <strong>{{holiday.package.days + ' days'}}</strong> from <strong>{{holiday.package.departure}}</strong>,
						
						<span ng-hide="holiday.package.passengers.adults == 0">
							<strong>{{holiday.package.passengers.adults}} </strong>
							<ng-pluralize count="holiday.package.passengers.adults" when="{'1': 'Adult', 'other': 'Adults'}"></ng-pluralize><ng-pluralize count="holiday.package.passengers.infants" when="{'0': ' &amp;', '1': '&#44;', 'other': '&#44;'}"></ng-pluralize>
						</span>
						
						<span ng-hide="holiday.package.passengers.children == 0">
							<strong>{{holiday.package.passengers.children}} </strong>
							<ng-pluralize count="holiday.package.passengers.children" when="{'1': 'Child', 'other': 'Children'}"></ng-pluralize>
						</span>	
						
						<span ng-hide="holiday.package.passengers.infants == 0">
							&amp;
							<strong>{{holiday.package.passengers.infants}} </strong>
							<ng-pluralize count="holiday.package.passengers.infants" when="{'1': 'Infant', 'other': 'Infants'}"></ng-pluralize>
						</span>
					</div>
					<!-- /.item-package -->

				</div>
				<!-- /.item-info -->

				
				<!-- holiday description (hidden) -->
				<div class="item-description" ng-show="showDescription">
					<p>{{holiday.package.description}}</p>
					<button>Book Now</button>
				</div>
				<!-- /description -->

			</li>
			<!-- /ng-repeat -->
		</ul>
	</div>
	<!-- /container -->

	<script src="assets/bower_components/angular/angular.js"></script>
	<script src="assets/bower_components/angular-animate/angular-animate.min.js"></script>

	<!-- concat -->
	<script src="assets/scripts/plugins/jquery.min.js"></script>
	<script src="assets/scripts/main.js"></script>
	<!-- /concat -->

</body>
</html>